modules = ["cpp-clang14"]

[deployment]
run = "clang++ -std=c++17 -o main main.cpp && ./main"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 40023705
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "clang++ -std=c++17 *.cpp tinytiff/*.cpp -I. -o main && ./main"
